.mine-order {
  overflow: hidden;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin: 34px 0;
    padding: 0 40px;
    .title-wrapper {
      display: flex;
      align-items: center;
      height: 42px;
      .order-icon {
        width: 48px;
        height: 48px;
      }
      .title {
        margin-left: 24px;
        font-family: PingFang-SC-Regular;
        font-size: 30rpx;
        line-height: 42rpx;
      }
    }
    .all-order-entry {
      display: flex;
      align-items: center;
      .all-order {
        color: rgb(20,21,26);
        font-size: 24rpx;
        font-family: PingFangSC-Light;
      }
      .right-icon {
        width: 28px;
        height: 28px;
        margin-left: 10px;
      }
    }
  }
  .content {
    display: flex;
    padding: 0 116px;
    box-sizing: border-box;
    margin-bottom: 6px;
    justify-content: space-between;
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 140px;
      .icon-wrapper {
        position: relative;
        margin-top: 16px;
        width: 48px;
        height: 48px;
        background: pink;
        // .iconfont {
        //   font-size: 48px;
        // }
        .text {
          margin-top: 12rpx;
          font-size: 24rpx;
          font-family: PingFangSC-Regular;
          line-height: 32rpx;
          width: 36px; // TODO: 这边还有问题，为啥内容撑不起盒子的宽度
        }
      }
    }
  }
}

.iconfont {
  font-size: 48px;
}